Repository miszo/configs, changes with the labels that .github/labeler.yml gives for each.
All labels: miszo-configs, @miszo/commitlint, @miszo/eslint-config, @miszo/stylelint, github-workflows

Upgrade: Yarn lock file
  README.md
  commitlint.config.js
  packages/commitlint/package.json
  yarn.lock
Labels: @miszo/commitlint

Release: v3.0.29 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/commitlint/CHANGELOG.md
  packages/commitlint/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint/CHANGELOG.md
  packages/stylelint/package.json
Labels: @miszo/commitlint, @miszo/eslint-config, @miszo/stylelint

Breaking: Another rename
  commitlint.config.js
  package.json
  packages/commitlint-config/.editorconfig
  packages/commitlint-config/.eslintrc
  packages/commitlint-config/.gitignore
  packages/commitlint-config/.huskyrc
  packages/commitlint-config/.lintstagedrc
  packages/commitlint-config/.npmrc
  packages/commitlint-config/.prettierrc
  packages/commitlint-config/CHANGELOG.md
  packages/commitlint-config/CODE_OF_CONDUCT.md
  packages/commitlint-config/README.md
  packages/commitlint-config/lib/commitlint.js
  packages/commitlint-config/package.json
  packages/commitlint-config/sonar-project.properties
  packages/commitlint/README.md
  packages/eslint-config/sonar-project.properties
  packages/stylelint-config/.editorconfig
  packages/stylelint-config/.eslintrc
  packages/stylelint-config/.gitignore
  packages/stylelint-config/.huskyrc
  packages/stylelint-config/.lintstagedrc
  packages/stylelint-config/.npmrc
  packages/stylelint-config/.prettierrc
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/CODE_OF_CONDUCT.md
  packages/stylelint-config/README.md
  packages/stylelint-config/lib/stylelint.config.js
  packages/stylelint-config/package.json
  packages/stylelint-config/sonar-project.properties
  packages/stylelint/README.md
  yarn.lock
Labels: @miszo/commitlint, @miszo/eslint-config, @miszo/stylelint

Release: v3.0.30 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/commitlint-config/CHANGELOG.md
  packages/commitlint-config/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Labels: @miszo/eslint-config

Fix: Description
  lerna.json
  packages/commitlint-config-miszo/package.json
  packages/eslint-config-miszo/package.json
  packages/stylelint-miszo/package.json
Labels: none

Release: v3.0.31 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/commitlint-config-miszo/CHANGELOG.md
  packages/commitlint-config-miszo/package.json
  packages/eslint-config-miszo/CHANGELOG.md
  packages/eslint-config-miszo/package.json
  packages/stylelint-miszo/CHANGELOG.md
  packages/stylelint-miszo/package.json
Labels: none

Build: Publish packages to GitHub registry
  .github/workflows/gh-publish.yml
Labels: github-workflows

Release: v3.0.32 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/commitlint-config-miszo/CHANGELOG.md
  packages/commitlint-config-miszo/package.json
  packages/eslint-config-miszo/CHANGELOG.md
  packages/eslint-config-miszo/package.json
  packages/stylelint-miszo/CHANGELOG.md
  packages/stylelint-miszo/package.json
Labels: none

Build: Resign from GH Packages
  .github/workflows/gh-publish.yml
Labels: github-workflows

Release: v3.0.33 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/commitlint-config-miszo/CHANGELOG.md
  packages/commitlint-config-miszo/package.json
  packages/eslint-config-miszo/CHANGELOG.md
  packages/eslint-config-miszo/package.json
  packages/stylelint-miszo/CHANGELOG.md
  packages/stylelint-miszo/package.json
Labels: none

Chore: Missing flowtype plugin
  packages/eslint-config-miszo/flowtype.js
  packages/eslint-config-miszo/package.json
  yarn.lock
Labels: none

Release: v3.0.34 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/commitlint-config-miszo/CHANGELOG.md
  packages/commitlint-config-miszo/package.json
  packages/eslint-config-miszo/CHANGELOG.md
  packages/eslint-config-miszo/package.json
  packages/stylelint-miszo/CHANGELOG.md
  packages/stylelint-miszo/package.json
Labels: none

Fix: Stylelint config
  packages/stylelint-miszo/README.md
  packages/stylelint-miszo/lib/stylelint.config.js
Labels: none

Release: v3.0.35 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/commitlint-config-miszo/CHANGELOG.md
  packages/commitlint-config-miszo/package.json
  packages/eslint-config-miszo/CHANGELOG.md
  packages/eslint-config-miszo/package.json
  packages/stylelint-miszo/CHANGELOG.md
  packages/stylelint-miszo/package.json
Labels: none

Chore: Configs rename to js extension
  .huskyrc.js
  .prettierrc
  .prettierrc.js
  packages/commitlint-config-miszo/.eslintrc.js
  packages/commitlint-config-miszo/.huskyrc.js
  packages/commitlint-config-miszo/.lintstagedrc
  packages/commitlint-config-miszo/.lintstagedrc.js
  packages/commitlint-config-miszo/.prettierrc
  packages/commitlint-config-miszo/.prettierrc.js
  packages/eslint-config-miszo/.eslintrc.js
  packages/eslint-config-miszo/.huskyrc
  packages/eslint-config-miszo/.huskyrc.js
  packages/eslint-config-miszo/.lintstagedrc
  packages/eslint-config-miszo/.lintstagedrc.js
  packages/eslint-config-miszo/.prettierrc
  packages/eslint-config-miszo/.prettierrc.js
  packages/stylelint-miszo/.eslintrc
  packages/stylelint-miszo/.eslintrc.js
  packages/stylelint-miszo/.huskyrc
  packages/stylelint-miszo/.huskyrc.js
  packages/stylelint-miszo/.lintstagedrc
  packages/stylelint-miszo/.lintstagedrc.js
  packages/stylelint-miszo/.prettierrc
  packages/stylelint-miszo/.prettierrc.js
  packages/stylelint-miszo/lib/stylelint.config.js
Labels: none

Upgrade: Dependecies
  packages/commitlint-config-miszo/package.json
  packages/eslint-config-miszo/package.json
  packages/stylelint-miszo/package.json
  yarn.lock
Labels: none

Fix: Config schema
  packages/stylelint-miszo/lib/stylelint.config.js
Labels: none

Chore: Clean configs (#65)
  .huskyrc.js
  .prettierrc
  .prettierrc.js
  packages/commitlint-config-miszo/.eslintrc.js
  packages/commitlint-config-miszo/.huskyrc.js
  packages/commitlint-config-miszo/.lintstagedrc
  packages/commitlint-config-miszo/.lintstagedrc.js
  packages/commitlint-config-miszo/.prettierrc
  packages/commitlint-config-miszo/.prettierrc.js
  packages/commitlint-config-miszo/package.json
  packages/eslint-config-miszo/.eslintrc.js
  packages/eslint-config-miszo/.huskyrc
  packages/eslint-config-miszo/.huskyrc.js
  packages/eslint-config-miszo/.lintstagedrc
  packages/eslint-config-miszo/.lintstagedrc.js
  packages/eslint-config-miszo/.prettierrc
  packages/eslint-config-miszo/.prettierrc.js
  packages/eslint-config-miszo/package.json
  packages/stylelint-miszo/.eslintrc
  packages/stylelint-miszo/.eslintrc.js
  packages/stylelint-miszo/.huskyrc
  packages/stylelint-miszo/.huskyrc.js
  packages/stylelint-miszo/.lintstagedrc
  packages/stylelint-miszo/.lintstagedrc.js
  packages/stylelint-miszo/.prettierrc
  packages/stylelint-miszo/.prettierrc.js
  packages/stylelint-miszo/lib/stylelint.config.js
  packages/stylelint-miszo/package.json
  yarn.lock
Labels: none

Release: v3.0.36 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/commitlint-config-miszo/CHANGELOG.md
  packages/commitlint-config-miszo/package.json
  packages/eslint-config-miszo/CHANGELOG.md
  packages/eslint-config-miszo/package.json
  packages/stylelint-miszo/CHANGELOG.md
  packages/stylelint-miszo/package.json
Labels: none

Feature: Configuration for value-keyword-case
  packages/commitlint-config-miszo/.prettierrc.js
  packages/eslint-config-miszo/.prettierrc.js
  packages/stylelint-miszo/.prettierrc.js
  packages/stylelint-miszo/lib/stylelint.config.js
Labels: none

Release: v3.0.37 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/commitlint-config-miszo/CHANGELOG.md
  packages/commitlint-config-miszo/package.json
  packages/eslint-config-miszo/CHANGELOG.md
  packages/eslint-config-miszo/package.json
  packages/stylelint-miszo/CHANGELOG.md
  packages/stylelint-miszo/package.json
Labels: none

Fix: Linters and prettier
  .huskyrc.js
  lerna.json
  packages/commitlint-config-miszo/.eslintrc.js
  packages/commitlint-config-miszo/.huskyrc.js
  packages/eslint-config-miszo/.eslintrc.js
Labels: none

Release: v3.0.38 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/commitlint-config-miszo/CHANGELOG.md
  packages/commitlint-config-miszo/package.json
  packages/eslint-config-miszo/CHANGELOG.md
  packages/eslint-config-miszo/package.json
  packages/stylelint-miszo/CHANGELOG.md
  packages/stylelint-miszo/package.json
Labels: none

Feature: Change rules for react
  packages/eslint-config-miszo/react.js
Labels: none

Release: v3.0.39 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/commitlint-config-miszo/CHANGELOG.md
  packages/commitlint-config-miszo/package.json
  packages/eslint-config-miszo/CHANGELOG.md
  packages/eslint-config-miszo/package.json
  packages/stylelint-miszo/CHANGELOG.md
  packages/stylelint-miszo/package.json
Labels: none

Feature: Ingnore flex in value-keyword-case
  packages/stylelint-miszo/lib/stylelint.config.js
Labels: none

Release: v3.0.40 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/commitlint-config-miszo/CHANGELOG.md
  packages/commitlint-config-miszo/package.json
  packages/eslint-config-miszo/CHANGELOG.md
  packages/eslint-config-miszo/package.json
  packages/stylelint-miszo/CHANGELOG.md
  packages/stylelint-miszo/package.json
Labels: none

Feature: Ingnore box-shadow in value-keyword-case
  packages/stylelint-miszo/lib/stylelint.config.js
Labels: none

Release: v3.0.41 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/commitlint-config-miszo/CHANGELOG.md
  packages/commitlint-config-miszo/package.json
  packages/eslint-config-miszo/CHANGELOG.md
  packages/eslint-config-miszo/package.json
  packages/stylelint-miszo/CHANGELOG.md
  packages/stylelint-miszo/package.json
Labels: none

Feature: Ignore width in value-keyword-case
  packages/stylelint-miszo/lib/stylelint.config.js
Labels: none

Fix: Format [skip ci]
  packages/stylelint-miszo/lib/stylelint.config.js
Labels: none

Release: v3.0.42 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/commitlint-config-miszo/CHANGELOG.md
  packages/commitlint-config-miszo/package.json
  packages/eslint-config-miszo/CHANGELOG.md
  packages/eslint-config-miszo/package.json
  packages/stylelint-miszo/CHANGELOG.md
  packages/stylelint-miszo/package.json
Labels: none

.github/labeler.yml:

miszo-configs:
  - /*
'@miszo/commitlint':
  - packages/commitlint/**/*
'@miszo/eslint-config':
  - packages/eslint-config/**/*
'@miszo/stylelint':
  - packages/stylelint/**/*
github-workflows:
  - .github/workflows/**/*
